[user]
    name = Håkon Drolsum Røkenes

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[color]
    status = auto
    branch = auto
    ui = always

[push]
	default = tracking
[core]
	autocrlf = input
	editor = vim

[alias]
    ci = commit
    st = status
    append = commit --amend --no-edit
    assume   = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

    # url of origin
    cloneurl = config --get remote.origin.url

    # from http://blog.blindgaenger.net/advanced_git_aliases.html
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ =  \\2/' | sort

    # remove a file from index
    unadd = reset HEAD
        
    # tree view of git log
    l = log --date-order --date=iso --graph --full-history --all --pretty=format:'%x08%x09%C(red)%h %C(cyan)%ad%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08 %C(bold blue)%aN%C(reset)%C(bold yellow)%d %C(reset)%s'

[diff]
	algorithm = patience
[url "https://"]
	insteadOf = git://
[branch]
	autosetuprebase = always
